<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Lista de Productos</h1>
    </header>
    <div class="container">
        <div class="menu">
            <a href="{% url 'registrar_producto' %}">Registrar Producto</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td>{{ producto.codigo }}</td>
                        <td>{{ producto.descripcion }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>{{ producto.tipo }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="footer">
        &copy; 2024 Mi Empresa
    </div>
</body>
</html>
